body {
    font-family: 'Lato', Helvetica, sans-serif;
}

.site-content {
  box-sizing: border-box;
  position:relative;
  z-index:0;
  padding-top:30px;
  margin-left: auto;
  margin-right: auto;
}

.project-wrap {
  display: inline-block;
  max-width: 100%;
  padding-bottom: 43px;
  text-align: left;
  position: relative;
}

.bqstart {
   float: left;
   height: 55px;
   padding-top: 40px;
   padding-bottom: 45px;
   margin-bottom: -50px;
   border-right-width: 10px;
   margin-right: 15px;
   font-size: 700%;
   color: Black;
 }

 .bqend {
   float: right;
   height: 25px;
   margin-top: 0px;
   margin-bottom: 10px;
   border-bottom-width: 20px;
   font-size: 700%;
   color: Black;
 }
