body {
    font-family: Helvetica;
}

#site-content {
  box-sizing: border-box;
  position:relative;
  z-index:0;
  padding-top:30px;
  margin-left: auto;
  margin-right: auto;
}

#project-wrap {
  display: inline-block;
  max-width: 100%;
  padding-bottom: 43px;
  text-align: left;
  position: relative;
}

.bqstart {
   float: left;
   height: 45px;
   margin-top: -20px;
   padding-top: 45px;
   margin-bottom: -50px;
   font-size: 700%;
   color: #FF0000;
 }

 .bqend {
   float: right;
   height: 25px;
   margin-top: 0px;
   padding-top: 45px;
   font-size: 700%;
   color: #FF0000;
 }
