body {
  background-color: #f1f1f1;
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container { margin: 50px auto 40px auto; width: 600px; text-align: center; }

.project-wrap {
  display: inline-block;
  max-width: 100%;
  padding-bottom: 43px;
  text-align: left;
  position: relative;
}

.bqstart {
   float: left;
   height: 55px;
   padding-top: 40px;
   padding-bottom: 45px;
   margin-bottom: -50px;
   border-right-width: 10px;
   margin-right: 15px;
   font-size: 700%;
   color: Black;
 }

 .bqend {
   float: right;
   height: 25px;
   margin-top: 0px;
   margin-bottom: 10px;
   border-bottom-width: 20px;
   font-size: 700%;
   color: Black;
 }
